.pagination__items {
    margin-right: 10px;
    width: 11px;
    height: 11px;
    background-color: #19BD9A;
    border-radius: 50%;
}

.pagination__items:last-child {
    margin-right: 0px;
}
.pagination__items--active {
    border-radius: 50%;
    border: 1px solid #19BD9A; ;
    background-color: transparent;
    width: 13px;
    height: 13px;
}
.pagination__items:hover {
    cursor: pointer;
}